// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.cover-header-wrapper {
    position: relative;
    display: block;

    .cover-header {
        background-size: cover;
        width: 100%;
        height: 900px;
        display: block;
    }
    .entry-header {
        position: absolute;
        left: 10%;
        bottom: 0;
        width: 200px;
        height: 100px;
        background-color: #fff;
    }
}